/* upload 266 */
h1{
    background-color: aqua;
    color: purple;
    text-align: center;
}

button{
    color: purple;
    text-align: center;
}

h6{
    margin: 10rem;
}

form.user{
    text-align: center;
}

button.nav_links{
    text-align: center;
}

div.riddles-link{
    text-align: center;
}
