/* upload 266 */
h1{
    background-color: aqua;
    color: purple;
    text-align: center;
}

h6{
    margin: 10rem;
}

form.user{
    text-align: center;
}

table{
    margin-left: auto;
    margin-right: auto;
    /* border: black solid; */
}
